:root {
    /* Money */
    --money-height: 40px;
    --money-width: 180px;
    /* Phone */
    --phone-height: 300px;
    --phone-width: 180px;
    --phone-top-height: 30px;
    --phone-bottom-height: 30px;
    --phone-screen-margin: 5px;
    /* Phone Apps */
    --phone-apps-on-row: 3;
    --phone-apps-margin: 10px;
    --phone-apps-scale: 40px;
    /* Mood */
    --mood-width: 350px;
    --mood-height: 200px;
}

body {
    margin: 0;
    overflow: hidden;
}

.ui {
    position: absolute; /* Add a top/bottom/left/right property if used*/
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teamSelectButtons {
    height: 200px;
    width: 150px;
    font-size: 30px;
    font-family: 'Play', sans-serif;
    border: none;
}

.teamSelectButtons span {
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, 0%);
}

#prisonerBtn img {
    margin-left: 30px;
    margin-top: 10px;
}

#policeBtn img {
    margin-left: -20px;
    margin-top: 10px;
}

#prisonerBtn img, #policeBtn img {
    width: 150px;
}

#citizenBtn img {
    width: 175px;
    margin-left: -15px;
    margin-top: 10px;
}

.notDraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Team Select */
#prisonerBtn {
    top: 50%;
    left: calc(50% - 175px);
    transform: translate(-50%, -50%);
    background-color: rgb(254, 115, 0);
}

#citizenBtn { 
    /* Already positioned in .center */
    transform: translate(-50%, -50%);
    background-color: rgb(192, 189, 189);
}

#policeBtn {
    top: 50%;
    left: calc(50% + 175px);
    transform: translate(-50%, -50%);
    background-color: rgb(52, 122, 202);
}

/* Money */
#money {
    width: var(--money-width);
    height: var(--money-height);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    left: 20px;
    bottom: calc(30px + var(--phone-height));
    font-size: 30px;
    text-align: right;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#userMoney {
    margin-right: 10px;
}

/* Phone */
#phone {
    visibility: hidden;
    bottom: 20px;
    left: 20px;
    width: var(--phone-width);
    height: var(--phone-height);
    background-color: rgb(66, 65, 65);
    border-radius: 20px;
}

#phone-top {
    border-radius: 20px 20px 0px 0px;
    height: var(--phone-top-height);
    background-color: black;
}

#phone-bottom {
    border-radius: 0px 0px 20px 20px;
    height: var(--phone-bottom-height);
    background-color: black;
    margin-top: calc(var(--phone-height) - var(--phone-bottom-height) - var(--phone-top-height));
}

#phone-button-home {
    position: absolute;
    background-color: rgb(66, 65, 65);
    outline: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: calc(50% - 10px);
    margin-top: calc(var(--phone-height) - var(--phone-bottom-height) - var(--phone-top-height) + 35px);
}

#phone-button-home-square {
    position: absolute;
    background-color: white;
    width: 8px;
    height: 8px;
    margin-left: calc(50% - 4px);
    margin-top: 6px;
}

#phone-signal-bar {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    margin-top: calc((var(--phone-top-height) / 2) - 5px); /* Not half because wanted to make it a little higher */
    margin-left: calc(50% - 15px);
}

#phone-screen {
    width: calc(var(--phone-width) - 10px);
    margin-left: var(--phone-screen-margin);
    margin-top: calc(var(--phone-top-height) + var(--phone-screen-margin));
    height: calc(100% - var(--phone-top-height) - var(--phone-bottom-height) - (var(--phone-screen-margin) * 2));
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #042631 0%, #1c637a 74%);    
    position: absolute;
}

.phone-apps {
    width: var(--phone-apps-scale);
    height: var(--phone-apps-scale);
    margin-left: var(--phone-apps-margin);
    margin-top: var(--phone-apps-margin);
}

#phone-app-stats {
    background-color: hotpink;
    border-radius: 10px;
}

#phone-app-stats img {
    width: 40px;
}

/* Mood */
#mood {
    visibility: hidden;
    width: var(--mood-width);
    height: var(--mood-height);
    background-color: rgb(219, 213, 213);
    border-radius: 20px;
    right: 10px;
    bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mood-quad {    
    width: calc(var(--mood-width) / 2 - 15px);
    height: calc(var(--mood-height) / 2 - 15px);
    position: relative;
    background-color: white;
    border-radius: 20px;
}

#mood span {
    position: relative;
    left: 13px;
    top: 7px;
}

.mood-title {
    font-size: 20px;
}

#mood-hunger {
    left: 10px;
    top: 10px;
}

#mood-energy {
    left: 180px;
    top: -75px;
}

#mood-hygiene {
    bottom: 65px;
    left: 10px;
}

#mood-entertainment {
    bottom: 150px;
    left: 180px;
}

.mood-progress {
    position: relative;
    left: 10px;
    top: 20px;
    height: 35px;
    border-radius: 10px;
    width: calc(var(--mood-width) / 2 - 35px);
    background-color: lightgray;
    overflow: hidden;
}

.mood-progress-fill {
    height: 100%;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(23, 230, 23);
}

.mood-progress-text {
    font-size: 15px;
}

#mood-close {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: red;
    font-size: 33px;
    text-align: center;
    color: white;
    right: -10px;
    top: -10px;
    position: absolute;
    z-index: 100;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}